HA_AGENT_HTTP_ADDR=:9443
HA_NODE_ID=ha-db-1
HA_NODE_ADDRESS=10.56.238.242:3306
HA_MYSQL_DSN=ha_agent:REPLACE_WITH_RANDOM_HEX@tcp(10.56.238.242:3306)/?parseTime=true
HA_REPLICATION_USER=ha_repl
HA_REPLICATION_PASSWORD=REPLACE_WITH_RANDOM_HEX
HA_ETCD_ENDPOINTS=http://10.56.238.245:2379,http://10.56.238.246:2379,http://10.56.238.247:2379
HA_CLUSTER_NAME=mysql-ha-validation
HA_AGENT_CA_FILE=/etc/ha/pki/ca.crt
HA_AGENT_CERT_FILE=/etc/ha/pki/agent.crt
HA_AGENT_KEY_FILE=/etc/ha/pki/agent.key
